/*
 * # BROWNIE FUDGE SUNDAE V2
 * ===========================


/* ## Basic Breakpoints
 * ====================

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* ## Extra Breakpoints
 * ====================

@media( min-width: 400px )  {}
@media( min-width: 640px )  {}
@media( min-width: 800px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1200px ) {}
@media( min-width: 1480px ) {}
@media( min-width: 1600px ) {}
@media( min-width: 1940px ) {}





/*
 * Global Variable
 */

:root {
	/* -- BFS Colors --  */
	/*--light: #FFFFFF;*/
	/*--neutral-1: #F2F3EB;*/
	/*--neutral-2: #E3E2D8;*/
	/*--neutral-3: #CCCCCC;*/
	/*--neutral-4: #7C7577;*/
	/*--dark: #231F20;*/
	--black: #000000;
	--teal: #18BA89;
	--orange: #FF9439;
	--pink: #FE4365;

	/* -- WhiteGold Colors --  */
	--light: #FFFFFF;
	--neutral-1: #E9E9E7;
	--neutral-2: #C6C6C7;
	--neutral-3: #96979B;
	--neutral-4: #4E5055;
	--dark: #212322;
	--black: #111111;
	/*--yellow-1: #FEE985;*/
	--yellow-1: #FFDBA6; /* 30% opacity of white against yellow-2 */
	--yellow-2: #FFC980;
	--red-1: #FFB7AE;
	--red-2: #FF6D6A;
	--red-3: #ED4C3C;
	--red-4: #AF231C;
	--green-1: #35EB96;
	--green-2: #5FE0B7;
	--green-3: #31BF7D;
	/*--blue-1: #537EFF;*/
	/*--blue-1: #5877CE;*/ /* 30% opacity of white against "new" blue-2 */
	/*--blue-2: #0A4FFD;*/
	/*--blue-2: #1c49bd;*/ /* 30% opacity of blue-1 against blue-3 */
	/*--blue-3: #0032A0;*/
	/*--blue-3-10: #0032A0;*/
	/*--blue-4: #171C8F;*/
	/*--blue-5: #211747;*/
	--blue-1: #E5EAF5;
	--blue-2: #BECDE6;
	/*--blue-3: #8098CF;*/
	--blue-3: #537EFF;
	--blue-4: #1E50CC;
	--blue-5: #0032A0;
	--blue-6: #012577;
	--blue-7: #001950;


	--container-width: 300px;
	--card: var(--container-width);
	
	--font-scale: 1.2;
	/*--font-scale: 1.185;*/
	--h1-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h2-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h3-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h4-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h5-scale: calc(var(--font-scale) * var(--font-scale) * var(--font-scale));
	--h6-scale: calc(var(--font-scale) * var(--font-scale));
	--p-scale: calc(var(--font-scale));
	--label-scale: calc(var(--font-scale) / var(--font-scale));
	--small-scale: calc(var(--font-scale) / var(--font-scale) / var(--font-scale));
	--font-offset: 0.035;

	--h1: calc(var(--h1-scale) * var(--card) * var(--font-offset) );
	--h2: calc(var(--h2-scale) * var(--card) * var(--font-offset) );
	--h3: calc(var(--h3-scale) * var(--card) * var(--font-offset) );
	--h4: calc(var(--h4-scale) * var(--card) * var(--font-offset) );
	--h5: calc(var(--h5-scale) * var(--card) * var(--font-offset) );
	--h6: calc(var(--h6-scale) * var(--card) * var(--font-offset) );
	--p: calc(var(--p-scale) * var(--card) * var(--font-offset) );
	--label: calc(var(--label-scale) * var(--card) * var(--font-offset) );
	--small: calc(var(--small-scale) * var(--card) * var(--font-offset) );
	

	--space-100 : calc(var(--card)/12);
	--space-50 : calc(var(--space-100)/2);
	--space-25 : calc(var(--space-50)/2);
	--space-75 : calc(var(--space-50)*1.5);
	--space-150 : calc(var(--space-100)*1.5);
	--space-175 : calc(var(--space-100)*1.75);
	--space-200 : calc(var(--space-100)*2);
}

@media( min-width: 360px )  {
	:root {
		--container-width: 340px;
	}
}

@media( min-width: 400px )  {
	:root {
		--container-width: 380px;
	}
}

@media( min-width: 640px )  {
	:root {
		--container-width: 600px;
		/*--space-100 : calc(var(--card)/12);*/
		--card: calc(var(--container-width)/2);
	}
}

@media( min-width: 1040px ) {
	:root {
		--container-width: 1000px;
		--card: calc(var(--container-width)/3);
	}
}

@media( min-width: 1480px ) {
	:root {
		--space-min : 15px;
		--container-width: 1440px;
	}
}





/*
 *	Initialize
 */

body, .body {
	position: relative;
	color: var(--dark);
	font-family: 'aktiv-grotesk', Arial, sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.375;
	background-color: var(--light);
}



h1, h2, h3, h4, h5, h6,
p, small, label {
	margin: 0;
	display: inline;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
a * { pointer-events: none; }

strong, .strong { font-weight: 700; }
.medium { font-weight: 500; }
em, .em { font-style: italic; }
/*.cursive { font-family: 'Comic Neue', cursive; font-weight: 700; }*/

hr {
	border: 0;
	margin: 0;
}





/*
 *
 *	Buttons
 *
 */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	height: var(--space-150);
	padding: 0 var(--space-50);
	font-size: var(--p);
	font-weight: 500;
	line-height: var(--space-150);
	text-transform: none;
	color: var(--light);
	background-color: var(--dark);
	box-shadow: none;
	border: none;
	border-radius: var(--space-25);
	/*transform: scale(1.0);*/
	/*transition: transform .3s ease-out;*/
}
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	/*transform: scale(1.025);*/
	
}
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
    outline: 0;
    /*transform: scale(1.0125);*/
}

.button .button-label {
	pointer-events: none;
	display: inline-block;
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
	transform: translateY(-2px);
}
.button .button-icon {
	pointer-events: none;
	display: inline-block;
	width: var(--space-75);
	vertical-align: middle;
	transform: translateY(-2px);
}




/*
 *
 *	Forms
 *
 */

.input-field,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
	height: var(--space-150);
	/*padding: 11px var(--space-50);*/
	padding: 0 var(--space-50);
	font-size: var(--p);
	color: var(--dark);
	background-color: transparent;
	border: 0;
	border: solid 1px var(--neutral-1);
	border-radius: var(--space-25);
	/*box-shadow:s 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);*/
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

textarea {
	min-height: var(--space-200);
}

.input-field:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	outline: 0;
	border-color: var(--blue-4);
}

.form-dark .input-field:focus,
.form-dark input[type="email"]:focus,
.form-dark input[type="number"]:focus,
.form-dark input[type="search"]:focus,
.form-dark input[type="text"]:focus,
.form-dark input[type="tel"]:focus,
.form-dark input[type="url"]:focus,
.form-dark input[type="password"]:focus,
.form-dark input[type="date"]:focus,
.form-dark textarea:focus,
.form-dark select:focus {
	outline: 0;
	border-color: var(--yellow-2);
}

select { cursor: pointer; }



/*
 *
 *	Typography
 *
 */

.h1 { font-size: var(--h1); }
.h2 { font-size: var(--h2); }
.h3 { font-size: var(--h3); }
.h4 { font-size: var(--h4); }
.h5 { font-size: var(--h5); }
.h6 { font-size: var(--h6); }
.p 	{ font-size: var(--p); }
.label { font-size: var(--label); }
.small { font-size: var(--small); }

.h1, .h2, .h3, .h4, .h5, .h6{
	line-height: 1.125;
}
.p , .label, .small {
	line-height: 1.375;
}

/* -- Weights -- */
.w-400 { font-weight: 400; }
.w-500 { font-weight: 500; }
.w-700 { font-weight: 700; }

/* -- Line Height -- */
.line-height-small { line-height: 1 }
.line-height-regular { line-height: 1.125 }
.line-height-medium { line-height: 1.375 }
.line-height-large { line-height: 1.5 }
.line-height-xlarge { line-height: 1.625 }
.line-height-xxlarge { line-height: 2; }

/* -- Content Block -- */
.content-block h1 { font-size: var(--h1); }
.content-block h2 { font-size: var(--h2); }
.content-block h3 { font-size: var(--h3); }
.content-block h4 { font-size: var(--h4); }
.content-block h5 { font-size: var(--h5); }
.content-block h6 { font-size: var(--h6); }
.content-block p 	{ font-size: var(--p); }
.content-block label { font-size: var(--label); }
.content-block small { font-size: var(--small); }

.content-block h1, 
.content-block h2, 
.content-block h3, 
.content-block h4, 
.content-block h5, 
.content-block h6{
	display: block;
	line-height: 1.125;
}

.content-block p, 
.content-block label, 
.content-block small {
	line-height: 1.375;
}





/*
 *
 *	Fills
 *
 */

.fill-light {
	color: var(--dark);
	background-color: var(--light); }
.fill-neutral-1 {
	color: var(--dark);
	background-color: var(--neutral-1); }
.fill-neutral-2 {
	color: var(--light);
	background-color: var(--neutral-2); }
.fill-neutral-3 {
	color: var(--light);
	background-color: var(--neutral-3); }
.fill-neutral-4 {
	color: var(--light);
	background-color: var(--neutral-4); }
.fill-dark {
	color: var(--light);
	background-color: var(--dark); }
.fill-black {
	color: var(--light);
	background-color: var(--black); }
.fill-yellow-1 {
	color: var(--dark);
	background-color: var(--yellow-1); }
.fill-yellow-2 {
	color: var(--dark);
	background-color: var(--yellow-2); }
.fill-red-1 {
	color: var(--light);
	background-color: var(--red-1); }
.fill-red-2 {
	color: var(--light);
	background-color: var(--red-2); }
.fill-red-3 {
	color: var(--light);
	background-color: var(--red-3); }
.fill-red-4 {
	color: var(--light);
	background-color: var(--red-4); }
.fill-green-1 {
	color: var(--light);
	background-color: var(--green-1); }
.fill-green-2 {
	color: var(--light);
	background-color: var(--green-2); }
.fill-green-3 {
	color: var(--light);
	background-color: var(--green-3); }
.fill-blue-1 {
	color: var(--dark);
	background-color: var(--blue-1); }
.fill-blue-2 {
	color: var(--dark);
	background-color: var(--blue-2); }
.fill-blue-3 {
	color: var(--light);
	background-color: var(--blue-3); }
.fill-blue-4 {
	color: var(--light);
	background-color: var(--blue-4); }
.fill-blue-5 {
	color: var(--light);
	background-color: var(--blue-5); }
.fill-blue-6 {
	color: var(--light);
	background-color: var(--blue-6); }
.fill-blue-7 {
	color: var(--light);
	background-color: var(--blue-7); }





/*
 *
 *	Text Color
 *
 */

.text-light {
	color: var(--light); }
.text-neutral-1 {
	color: var(--neutral-1); }
.text-neutral-2 {
	color: var(--neutral-2); }
.text-neutral-3 {
	color: var(--neutral-3); }
.text-neutral-4 {
	color: var(--neutral-4); }
.text-dark {
	color: var(--dark); }
.text-black {
	color: var(--black); }
.text-yellow-1 {
	color: var(--yellow-1); }
.text-yellow-2 {
	color: var(--yellow-2); }
.text-red-1 {
	color: var(--red-1); }
.text-red-2 {
	color: var(--red-2); }
.text-red-3 {
	color: var(--red-3); }
.text-red-4 {
	color: var(--red-4); }
.text-green-1 {
	color: var(--green-1); }
.text-green-2 {
	color: var(--green-2); }
.text-green-3 {
	color: var(--green-3); }
.text-blue-1 {
	color: var(--blue-1); }
.text-blue-2 {
	color: var(--blue-2); }
.text-blue-3 {
	color: var(--blue-3); }
.text-blue-4 {
	color: var(--blue-4); }
.text-blue-5 {
	color: var(--blue-5); }
.text-blue-6 {
	color: var(--blue-6); }
.text-blue-7 {
	color: var(--blue-7); }





/*
 *
 *	Spacing
 *
 */

.space-min { padding: var(--space-min); }
.space-min-top { padding-top: var(--space-min); }
.space-min-bottom { padding-bottom: var(--space-min); }
.space-min-left { padding-left: var(--space-min); }
.space-min-right { padding-right: var(--space-min); }
.space-min-top-bottom { padding-top: var(--space-min); padding-bottom: var(--space-min); }
.space-min-left-right { padding-left: var(--space-min); padding-right: var(--space-min); }

.space-100 { padding: var(--space-100); }
.space-100-top { padding-top: var(--space-100); }
.space-100-bottom { padding-bottom: var(--space-100); }
.space-100-left { padding-left: var(--space-100); }
.space-100-right { padding-right: var(--space-100); }
.space-100-top-bottom { padding-top: var(--space-100); padding-bottom: var(--space-100); }
.space-100-left-right { padding-left: var(--space-100); padding-right: var(--space-100); }

.space-50 { padding: var(--space-50); }
.space-50-top { padding-top: var(--space-50); }
.space-50-bottom { padding-bottom: var(--space-50); }
.space-50-left { padding-left: var(--space-50); }
.space-50-right { padding-right: var(--space-50); }
.space-50-top-bottom { padding-top: var(--space-50); padding-bottom: var(--space-50); }
.space-50-left-right { padding-left: var(--space-50); padding-right: var(--space-50); }

.space-25 { padding: var(--space-25); }
.space-25-top { padding-top: var(--space-25); }
.space-25-bottom { padding-bottom: var(--space-25); }
.space-25-left { padding-left: var(--space-25); }
.space-25-right { padding-right: var(--space-25); }
.space-25-top-bottom { padding-top: var(--space-25); padding-bottom: var(--space-25); }
.space-25-left-right { padding-left: var(--space-25); padding-right: var(--space-25); }

.space-75 { padding: var(--space-75); }
.space-75-top { padding-top: var(--space-75); }
.space-75-bottom { padding-bottom: var(--space-75); }
.space-75-left { padding-left: var(--space-75); }
.space-75-right { padding-right: var(--space-75); }
.space-75-top-bottom { padding-top: var(--space-75); padding-bottom: var(--space-75); }
.space-75-left-right { padding-left: var(--space-75); padding-right: var(--space-75); }

.space-150 { padding: var(--space-150); }
.space-150-top { padding-top: var(--space-150); }
.space-150-bottom { padding-bottom: var(--space-150); }
.space-150-left { padding-left: var(--space-150); }
.space-150-right { padding-right: var(--space-150); }
.space-150-top-bottom { padding-top: var(--space-150); padding-bottom: var(--space-150); }
.space-150-left-right { padding-left: var(--space-150); padding-right: var(--space-150); }

.space-200 { padding: var(--space-200); }
.space-200-top { padding-top: var(--space-200); }
.space-200-bottom { padding-bottom: var(--space-200); }
.space-200-left { padding-left: var(--space-200); }
.space-200-right { padding-right: var(--space-200); }
.space-200-top-bottom { padding-top: var(--space-200); padding-bottom: var(--space-200); }
.space-200-left-right { padding-left: var(--space-200); padding-right: var(--space-200); }





/*
 *	Opacity
 */

.opacity-0 { opacity: 0; }
.opacity-25 { opacity: 0.25; }
.opacity-50 { opacity: 0.5; }
.opacity-75 { opacity: 0.75; }
.opacity-100 { opacity: 1; }





/* -- Radius -- */
.radius-25 { border-radius: var(--space-25); }
.radius-50 { border-radius: var(--space-50); }
.radius-75 { border-radius: var(--space-75); }
.radius-100 { border-radius: var(--space-100); }










/*
 *
 *	Material Icons
 *
 */

.material-icons {
	display: inline-block;
	font-size: inherit !important;
	line-height: inherit !important;
	vertical-align: middle;
	transform: translateY(-1px);
}
.material-icons:after {
	content: attr(data-icon);
}





/*
 *
 *	Carousel
 *
 */

.carousel {
	width: 100%;
	position: relative;
	z-index: 1;
}

.carousel:before,
.carousel:after {
	pointer-events: none;
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	width: calc((100vw - var(--container-width) ) / 2);
}

.carousel .carousel-list {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	font-size: 0;
	-webkit-overflow-scrolling: touch;
	padding: 0 calc( (100vw - var(--container-width))/2 );
	scroll-snap-type: x mandatory;
}

.carousel:before {
	left: 0;
	background-image: var(--fade-left);
	opacity: 0.5;
}

.carousel:after {
	right: 0;
	background-image: var(--fade-right);
	opacity: 0.5;
}

.carousel .carousel-list .carousel-list-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	white-space: normal;
	/*width: calc( 4 * var(--space-100) );*/
	width: 100vw;
	scroll-snap-align: center;
}

.carousel .carousel-list .carousel-list-item * { pointer-events:  none; }

/* -- Base -- */
.carousel .carousel-controls {
	pointer-events: none;
}

.carousel .carousel-controls .prev,
.carousel .carousel-controls .next {
	pointer-events: all;
}

/* -- WhiteGold Carousel Overwrites -- */
.carousel .carousel-list .carousel-list-item .carousel-card {
	min-height: calc( var(--container-width) * 1.25 );
	background-repeat: no-repeat;
	background-size: var(--card);
}
.carousel .carousel-controls {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 0;
	width: 100%;
	height: auto;
	transform: translateY(-50%);
}

.carousel .carousel-controls .carousel-button {
	position: relative;
	width: calc( (100vw - var(--container-width))/2 );
	min-height: calc( var(--container-width) * 1.25 );
	border-radius: 0;
	background-color: transparent;
}
.carousel .carousel-controls .carousel-button .material-icons {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: auto;
	transform: translate(-50%, -50%);
}


@media( min-width: 640px )  {
	.carousel .carousel-list {
		/* -- To Remove Scroll Bar on Non Mobile Screens -- */
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.carousel .carousel-list .carousel-list-item .carousel-card {
		background-size: calc( var(--card) * 1.5 );
		min-height: calc( var(--container-width) * 0.75 );
	}
	.carousel .carousel-controls .carousel-button {
		min-height: calc( var(--container-width) * 0.75 );
	}
}
@media( min-width: 1040px ) {
	.carousel .carousel-list .carousel-list-item .carousel-card {
		background-size: calc( var(--card) * 1.75 );
		min-height: calc( var(--container-width) * 0.5 );
	}
	.carousel .carousel-controls .carousel-button {
		min-height: calc( var(--container-width) * 0.5 );
	}
}
@media( min-width: 1480px ) {}
