/*
 * # BROWNIE FUDGE SUNDAE V2
 * ===========================


/* ## Basic Breakpoints
 * ====================

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* ## Extra Breakpoints
 * ====================

@media( min-width: 400px )  {}
@media( min-width: 640px )  {}
@media( min-width: 800px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1200px ) {}
@media( min-width: 1480px ) {}
@media( min-width: 1600px ) {}
@media( min-width: 1940px ) {}





/*
 * Global Variable
 */

:root {
	--light: #FFFFFF;
	--neutral-1: #F2F3EB;
	--neutral-2: #E3E2D8;
	--neutral-3: #CCCCCC;
	--neutral-4: #7C7577;
	--dark: #231F20;
	--black: #000000;
	--teal: #18BA89;
	--orange: #FF9439;
	--pink: #FE4365;

	--container-width: 300px;
	--space-min : 10px;
	--space-100 : calc(var(--container-width)/6);
	--space-50 : calc(var(--space-100)/2);
	--space-25 : calc(var(--space-50)/2);
	--space-75 : calc(var(--space-50)*1.5);
	--space-150 : calc(var(--space-100)*1.5);
	--space-200 : calc(var(--space-100)*2);
}

@media( min-width: 640px )  {
	:root {
		--container-width: 600px;
		--space-100 : calc(var(--container-width)/12);
	}
}

@media( min-width: 1040px ) {
	:root {
		--container-width: 1000px;
	}
}

@media( min-width: 1480px ) {
	:root {
		--space-min : 15px;
		--container-width: 1440px;
	}
}





/*
 *	Initialize
 */

body, .body {
	position: relative;
	color: var(--dark);
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.375;
	background-color: var(--light);
}



h1, h2, h3, h4, h5, h6,
p, small, label {
	margin: 0;
	display: inline;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}



/*
 *
 *	Typography
 *
 */

.h1, .h2, .h3, .h4 {
	font-family: 'Concert One', 'Arial Black', Arial, sans-serif;
	line-height: 1.125;
}

.h1 { font-size: 3.6rem; }
.h2 { font-size: 3.0rem; }
.h3 { font-size: 2.4rem; }
.h4 { font-size: 2.0rem; }
.h5 { font-size: 1.6rem; }
.h6 { font-size: 1.4rem; }
.p 	{ font-size: 1.4rem; }
.small { font-size: 0.8rem; }
.label { font-size: 1.0rem; }

@media( min-width: 640px )  {
	.h1 { font-size: 4.0em; }
	.h2 { font-size: 3.2rem; }
	.h3 { font-size: 2.6rem; }
	.h4 { font-size: 2.2rem; }
	.h5 { font-size: 1.8rem; }
	.h6 { font-size: 1.4rem; }
	.p 	{ font-size: 1.4rem; }
	.small { font-size: 0.8rem; }
	.label { font-size: 1.0rem; }
}

@media( min-width: 1040px ) {
	.h1 { font-size: 5.4rem; }
	.h2 { font-size: 4.2rem; }
	.h3 { font-size: 3.4rem; }
	.h4 { font-size: 2.6rem; }
	.h5 { font-size: 2.0rem; }
	.h6 { font-size: 1.6rem; }
	.p 	{ font-size: 1.6rem; }
	.small { font-size: 1.0rem; }
	.label { font-size: 1.2rem; }
}

@media( min-width: 1480px ) {
	.h1 { font-size: 6.2rem; }
	.h2 { font-size: 4.8rem;  }
	.h3 { font-size: 3.8rem;  }
	.h4 { font-size: 3.0rem;  }
	.h5 { font-size: 2.4rem;  }
	.h6 { font-size: 1.8rem;  }
	.p 	{ font-size: 1.8rem;  }
	.small { font-size: 1.2rem; }
	.label { font-size: 1.4rem; }
}


a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
a * { pointer-events: none; }

strong, .strong { font-weight: 700; }
em, .em { font-style: italic; }
.cursive { font-family: 'marydale', Arial, cursive; font-weight: 700; }

hr {
	border-color: var(--dark);
}

/* -- Weights -- */
.w-400 { font-weight: 400; }
.w-500 { font-weight: 500; }
.w-700 { font-weight: 700; }

/* -- Line Height -- */
.line-height-small { line-height: 1.125 }
.line-height-medium { line-height: 1.375 }
.line-height-large { line-height: 1.625 }





/*
 *
 *	Fills
 *
 */

.fill-light {
	color: var(--dark);
	background-color: var(--light); }
.fill-neutral-1 {
	color: var(--dark);
	background-color: var(--neutral-1); }
.fill-neutral-2 {
	color: var(--dark);
	background-color: var(--neutral-2); }
.fill-neutral-3 {
	color: var(--light);
	background-color: var(--neutral-3); }
.fill-neutral-4 {
	color: var(--light);
	background-color: var(--neutral-4); }
.fill-dark {
	color: var(--light);
	background-color: var(--dark); }
.fill-black {
	color: var(--light);
	background-color: var(--black); }
.fill-teal {
	color: var(--light);
	background-color: var(--teal); }
.fill-orange {
	color: var(--light);
	background-color: var(--orange); }
.fill-pink {
	color: var(--light);
	background-color: var(--pink); }





/*
 *
 *	Text Color
 *
 */

.text-light { color: var(--light); }
.text-neutral-1 { color: var(--neutral-1); }
.text-neutral-2 { color: var(--neutral-2); }
.text-neutral-3 { color: var(--neutral-3); }
.text-neutral-4 { color: var(--neutral-4); }
.text-dark { color: var(--dark); }
.text-black { color: var(--black); }
.text-teal { color: var(--teal); }
.text-orange { color: var(--orange); }
.text-pink { color: var(--pink); }





/*
 *
 *	Spacing
 *
 */

.space-min { padding: var(--space-min); }
.space-min-top { padding-top: var(--space-min); }
.space-min-bottom { padding-bottom: var(--space-min); }
.space-min-left { padding-left: var(--space-min); }
.space-min-right { padding-right: var(--space-min); }
.space-min-top-bottom { padding-top: var(--space-min); padding-bottom: var(--space-min); }
.space-min-left-right { padding-left: var(--space-min); padding-right: var(--space-min); }

.space-100 { padding: var(--space-100); }
.space-100-top { padding-top: var(--space-100); }
.space-100-bottom { padding-bottom: var(--space-100); }
.space-100-left { padding-left: var(--space-100); }
.space-100-right { padding-right: var(--space-100); }
.space-100-top-bottom { padding-top: var(--space-100); padding-bottom: var(--space-100); }
.space-100-left-right { padding-left: var(--space-100); padding-right: var(--space-100); }

.space-50 { padding: var(--space-50); }
.space-50-top { padding-top: var(--space-50); }
.space-50-bottom { padding-bottom: var(--space-50); }
.space-50-left { padding-left: var(--space-50); }
.space-50-right { padding-right: var(--space-50); }
.space-50-top-bottom { padding-top: var(--space-50); padding-bottom: var(--space-50); }
.space-50-left-right { padding-left: var(--space-50); padding-right: var(--space-50); }

.space-25 { padding: var(--space-25); }
.space-25-top { padding-top: var(--space-25); }
.space-25-bottom { padding-bottom: var(--space-25); }
.space-25-left { padding-left: var(--space-25); }
.space-25-right { padding-right: var(--space-25); }
.space-25-top-bottom { padding-top: var(--space-25); padding-bottom: var(--space-25); }
.space-25-left-right { padding-left: var(--space-25); padding-right: var(--space-25); }

.space-75 { padding: var(--space-75); }
.space-75-top { padding-top: var(--space-75); }
.space-75-bottom { padding-bottom: var(--space-75); }
.space-75-left { padding-left: var(--space-75); }
.space-75-right { padding-right: var(--space-75); }
.space-75-top-bottom { padding-top: var(--space-75); padding-bottom: var(--space-75); }
.space-75-left-right { padding-left: var(--space-75); padding-right: var(--space-75); }

.space-150 { padding: var(--space-150); }
.space-150-top { padding-top: var(--space-150); }
.space-150-bottom { padding-bottom: var(--space-150); }
.space-150-left { padding-left: var(--space-150); }
.space-150-right { padding-right: var(--space-150); }
.space-150-top-bottom { padding-top: var(--space-150); padding-bottom: var(--space-150); }
.space-150-left-right { padding-left: var(--space-150); padding-right: var(--space-150); }

.space-200 { padding: var(--space-200); }
.space-200-top { padding-top: var(--space-200); }
.space-200-bottom { padding-bottom: var(--space-200); }
.space-200-left { padding-left: var(--space-200); }
.space-200-right { padding-right: var(--space-200); }
.space-200-top-bottom { padding-top: var(--space-200); padding-bottom: var(--space-200); }
.space-200-left-right { padding-left: var(--space-200); padding-right: var(--space-200); }





/*
 *	Opacity
 */

.opacity-0 { opacity: 0; }
.opacity-25 { opacity: 0.25; }
.opacity-50 { opacity: 0.5; }
.opacity-75 { opacity: 0.75; }
.opacity-100 { opacity: 1; }





/*
 *
 *	Buttons
 *
 */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	height: var(--space-75);
	padding: 0 var(--space-25);
	font-size: 1.2rem;
	line-height: var(--space-75);
	color: var(--light);
	background-color: var(--dark);
	box-shadow: none;
	border: none;
	border-radius: 0;
	filter: brightness(1);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	filter: brightness(1.375);
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
    outline: 0;
    filter: brightness(1.5);
}

.button img {
	pointer-events: none;
	width: 16px;
	display: inline-block;
	margin-bottom: -4px;
	margin-left: 3px;
}

@media( min-width: 640px )  {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-75);
		font-size: 1.2rem;
		line-height: var(--space-75);
		border-radius: 0;
	}
}
@media( min-width: 1040px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-50);
		font-size: 1.4rem;
		line-height: var(--space-50);
		border-radius: 0;
	}
}
@media( min-width: 1480px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-50);
		font-size: 1.6rem;
		line-height: var(--space-50);
		border-radius: 0;
	}
}





/*
 *
 *	Forms
 *
 */

.input-field,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
	height: var(--space-75);
	padding: 11px var(--space-min);
	font-size: 1.4rem;
	color: var(--dark);
	background-color: transparent;
	border: 0;
	border: solid 1px var(--neutral-1);
	border-radius: 0;
	/*box-shadow:s 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);*/
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


.form-dark .input-field,
.form-dark input[type="email"],
.form-dark input[type="number"],
.form-dark input[type="search"],
.form-dark input[type="text"],
.form-dark input[type="tel"],
.form-dark input[type="url"],
.form-dark input[type="password"],
.form-dark input[type="date"],
.form-dark textarea,
.form-dark select {
	color: var(--light);
	border-color: var(--neutral-5);
}

textarea {
	min-height: var(--space-double);
}

.input-field:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	outline: 0;
	border-color: var(--red-2);
}

select { cursor: pointer; }

@media( min-width: 640px )  {
	.input-field,
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-75);
	}
}
@media( min-width: 1040px ) {
	.input-field,
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-50);
		border-width: 2px;
		font-size: 1.5rem;

	}
}
@media( min-width: 1480px ) {
	.input-field,
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-50);
		font-size: 1.8rem;
	}
}





/*
 *
 *	Material Icons
 *
 */

.material-icons {
	font-size: inherit !important;
	vertical-align: middle;
}
.material-icons:after {
	content: attr(data-icon);
}





/*
 *
 *	Carousel
 *
 */

.carousel {
	width: 100%;
	position: relative;
	z-index: 1;
}

.carousel:before,
.carousel:after {
	pointer-events: none;
	content: '';
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	width: calc((100vw - var(--container-width) ) / 2);
}

.carousel .carousel-list {
	position: relative;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	font-size: 0;
	-webkit-overflow-scrolling: touch;
	padding: 0 calc( (100vw - var(--container-width))/2 ) var(--space-50);
	scroll-snap-type: x mandatory;
}

.carousel:before {
	left: 0;
	background-image: linear-gradient( to left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
	opacity: 0.5;
}

.carousel:after {
	right: 0;
	background-image: linear-gradient( to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
	opacity: 0.5;
}

.carousel.fill-dark:before {
	left: 0;
	background-image: linear-gradient( to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
}

.carousel.fill-dark:after {
	right: 0;
	background-image: linear-gradient( to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
}

.carousel .carousel-list .carousel-list-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	white-space: normal;
	width: calc( 4 * var(--space-100) );
	scroll-snap-align: center;
}

.carousel .carousel-list .carousel-list-item * { pointer-events:  none; }

/* -- Base -- */
.carousel .carousel-controls {
	pointer-events: none;
}

.carousel .carousel-controls .prev,
.carousel .carousel-controls .next {
	pointer-events: all;
}
