.pr-p30{
    padding-right:30%;
    }
    .pr-p39{
    padding-right:39%;
    }
    
    @media screen and (min-width: 700px){
    .lp-pages .service-box2{
        height: 296px;
    }
    
    .lp-pages .box-testimonials .testimonial-heading {
        position: relative;
        left: 250px;
        right: 0;
        top: 0px;
    }
    .lp-pages .box-testimonials .profile-img {
        padding-right: 36px;
        border-right: 4px solid #0032A0;
    }
    
    }
    @media screen and (max-width: 600px){

.box-testimonials {border-radius:6px!important;}

    .box-testimonials p {
        border-left: 3px solid #0032A0;
        margin-top: 10px;
        font-size: 16px;
        padding-left: 15px;
    }

/* spacing for max width upto 600 START */
  .mt-sm-0 { margin-top:0!important; }
    .mr-sm-0 { margin-right:0!important; }
    .mb-sm-0 { margin-bottom:0!important; }
    .ml-sm-0 { margin-left:0!important; }
    .mx-sm-0 { margin-left:0 !important;margin-right:0 !important; }
    .my-sm-0 { margin-top:0!important;margin-bottom:0!important; }	
    .mt-sm-1 { margin-top:.25rem!important; }
    .mr-sm-1 { margin-right:.25rem!important; }
    .mb-sm-1 { margin-bottom:.25rem!important; }
    .ml-sm-1 { margin-left:.25rem!important; }
    .mx-sm-1 { margin-left:.25rem!important;margin-right:.25rem!important; }
    .my-sm-1 { margin-top:.25rem!important;margin-bottom:.25rem!important; }
    
    .mt-sm-2 { margin-top:.5rem!important; }
    .mr-sm-2 { margin-right:.5rem!important; }
    .mb-sm-2 { margin-bottom:.5rem!important; }
    .ml-sm-2 { margin-left:.5rem!important; }
    .mx-sm-2 { margin-right:.5rem!important;margin-left:.5rem!important; }
    .my-sm-2 { margin-top:.5rem!important;margin-bottom:.5rem!important; }
    
    .mt-sm-3 { margin-top:1rem!important; }
    .mr-sm-3 { margin-right:1rem!important; }
    .mb-sm-3 { margin-bottom:1rem!important; }
    .ml-sm-3 { margin-left:1rem!important; }
    .mx-sm-3 { margin-right:1rem!important;margin-left:1rem!important; }
    .my-sm-3 { margin-bottom:1rem!important;margin-top:1rem!important; }
    
    .mt-sm-4 { margin-top:1.5rem!important; }
    .mr-sm-4 { margin-right:1.5rem!important; }
    .mb-sm-4 { margin-bottom:1.5rem!important; }
    .ml-sm-4 { margin-left:1.5rem!important; }
    .mx-sm-4 { margin-right:1.5rem!important;margin-left:1.5rem!important; }
    .my-sm-4 { margin-top:1.5rem!important;margin-bottom:1.5rem!important; }
    
    .mt-sm-5 { margin-top:3rem!important; }
    .mr-sm-5 { margin-right:3rem!important; }
    .mb-sm-5 { margin-bottom:3rem!important; }
    .ml-sm-5 { margin-left:3rem!important; }
    .mx-sm-5 { margin-right:3rem!important;margin-left:3rem!important; }
    .my-sm-5 { margin-top:3rem!important;margin-bottom:3rem!important; }
/* spacing for max width upto 600 END */

    
    }
   /* STARTS testimonial style  */
   .pr-20px{
    padding-right: 20px;
}

    .h-auto{
        height:auto;
    }

.testimonial h2 {
    font-size: 32px;
    font-weight: 800;
}
.box-testimonials p {
    text-align: justify;
    display: inline-block;
    font-size: 18px;
    color: #212322;
}


    .mb-5 {
    margin-bottom: 3rem!important;
}
    .box-testimonials {
    padding: 15px;
    background-color: white;
    border-radius: 16px;
}

.slider .slick-prev:before {
    content: url(https://staging.whitegold.money/content/cms/arrow-left.png)!important;
}

.slider .slick-next:before {
    content: url(https://staging.whitegold.money/content/cms/arrow-right.png)!important;
}
.d-none {
    display: none!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1480px){

    .h-475-lg{
        height: 475px!important;
    }

    .d-lg-flex{
        display:flex!important;
    }

    .blue-box {
    margin-top: 83px!important;
    margin-left: -138px!important;
    width: 500px;
    padding: 40px;
    background-color: #0032A0;
    margin-bottom: 50px;
}

.box-testimonials {
    top: 53px!important;
    position: relative;
    margin: 70px 193px 175px 185px!important;
    padding: 20px 20px 35px 20px!important;
    background-color: white;
    border-radius: 16px;
}

.slider .slick-next{
    left: 87.2%!important;
    position: absolute;
    right: 10px;
    top: 51%!important;
}

.slider .slick-prev{
top: 51%!important;
}

.slick-next {
    width: 35px!important;
    height: 40px;
}

.slick-prev {
    width: 35px!important;
    height: 35px;
}
.box-testimonials .testimonial-heading {
    position: relative;
    left: 32px!important;
    right: 0;
    top: 8px!important;
}


}


@media screen and (min-width: 700px){

    .h-324-md{
        height:324px;
    }
    .d-lg-flex{
        display:flex!important;
    }
    .d-md-block {
    display: block!important;
}
    .slider .slick-prev {
    z-index: 1;
    position: absolute;
    left: 9.9%;
}
.slider .slick-next {
    left: 86.2%;
    position: absolute;
    right: 10px;
    z-index: 1;
}
.box-testimonials {
    margin: 32px 145px 22px 138px;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    position: relative;
    top: 10px;
}
.box-testimonials .profile-img {
    padding-right: 36px;
    border-right: 4px solid #FFC980;
}
.d-lg-flex {
    display: flex!important;
}
.box-testimonials .icon {
    left: 34px;
    top: 20px;
    position: relative;
    width: 32px!important;
    height: 32px!important;
}
.box-testimonials p {
    margin-top: 70px;
}
.box-testimonials h5 {
   
    font-size: 16px;
    font-weight: 800!important;
    display: table-footer-group;
}
.mb-3 {
    margin-bottom: 1rem!important;
}
.box-testimonials h6 {
    font-size: 14px;
    font-weight: 500!important;
}
.box-testimonials .testimonial-heading {
    position: relative;
    left: 32px!important;
    right: 0;
    top: 11px!important;
}

.box-testimonials p {
    text-align: justify;
    display: inline-block;
    font-size: 18px;
    color: #212322;
}

.d-lg-none{
    display:none;
}

}

/* start mobile version portrait android */
@media screen and (max-width: 600px){
    .slick-next {
    width: 35px!important;
    height: 40px;
}

.slick-prev {
    width: 35px!important;
    height: 35px;
}
    
    .testimonial h2 {
    font-size: 27px!important;
    font-weight: 800;
}

.slider .slick-prev {
    bottom: 57px;
    z-index: 1;
    left: -16px;
}
.box-testimonials {
    margin: 20px!important;
}
.box-testimonials .profile-img {
    text-align: center;
    margin: 0 auto;
    width: 73px;
    height: 93px;
}
.box-testimonials .icon {
    left: 17px;
    width: 15px!important;
    height: 15px!important;
    position: relative;
}
.box-testimonials p {
    text-align: justify;
    border-left: 3px solid #ffc980;
    margin-top: 10px;
    font-size: 16px;
    padding-left: 15px;
}
.box-testimonials .testimonial-heading {
    position: relative;
    left: 17px;
    display: grid;
    top: 5px;
}
.box-testimonials h5 {
    font-weight: 800;
    font-size: 12px;
}
.box-testimonials h6 {
    margin-top: -8px;
    font-size: 10px;
}
.slider .slick-next {
    position: absolute;
    right: -18px;
}
}
/* end mobile version portrait android */

.mb-3 {
    margin-bottom: 1rem!important;
}

@media screen and (min-device-width: 767px) and (max-device-width: 1056px) {

    .box-testimonials .icon {
    left: 0px;
    top: 45px;
    position: relative;
    width: 32px!important;
    height: 32px!important;
}
.box-testimonials .testimonial-heading {
    position: relative;
    left: 0px;
    right: 0;
    top: 10px;
}

.box-testimonials{
margin: 40px 86px 30px 109px;

}
.box-testimonials .profile-img {
    padding-right: 36px;
    text-align: center;
    margin: 0 auto;
border-right: 4px solid #ffffff!important;
}

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .slick-next {
    width: 35px!important;
    height: 40px;
}

.slick-prev {
    width: 35px!important;
    height: 35px;
}

    .d-lg-flex{
        display:inline-block!important;
    }

    .testimonial-heading {
    position:relative!important;
    left: 0px!important;
    right: 100px!important;
    top: 10px!important;
}

.box-testimonials p {
    text-align: justify;
    display: inline-block;
    margin-top: 70px;
}

.box-testimonials .profile-img {
    padding-right: 36px;
    text-align: center;
    margin: 0 auto;
    border-left: 4px solid #FFC980!important;
border-right: 4px solid #ffffff!important;
padding-left: 30px;
}
  }

  @media only screen and (min-device-width: 480px) 
                   and (max-device-width: 1000px) 
                   and (orientation: landscape) {
                    .d-lg-flex{
        display:inline-block!important;
    }
                   }
/* END testimonial style  */

/* START section highlights */

.section-highlights p{
    text-align:center;
  }
  
  
  .slick-track {
      margin:auto;
  }
  
  .highlight .slick-slider {
    margin-left: -12%;
    margin-right: -12%;
  }
  
  .highlight .slick-list {
   padding-top: 3%!important;
    padding-bottom: 1%!important;
    padding-left: 15%!important;
    padding-right: 15%!important;
  }
  
  /* .highlight .slick-dots {
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  } */
  
  .highlight .slick-track {
    max-width: 100%!important;
    transform: translate3d(0, 0, 0)!important;
    perspective: 100px;
  }
  
  .highlight .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100%!important;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s;
  }
  
  .highlight .slick-snext,
  .slick-sprev {
    display: block;
  }
  
  
  
  .highlight .test {
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  
  
  
  
  .section-highlights h2{
  font-size:32px;
  font-weight:800;
  
  }
  .highlight .slick-dots {
    bottom: -176px!important;
  }
  .highlight .slick-dots li {
      margin: 5px 11px 7px 8px;
  }
  .highlight .slick-dots li{
      padding: 4px;
      background: #FFFFFF;
      border-radius: 22px;
      margin: 5px 4px;
      font-size: 0;
      line-height: 0;
      display: block;
      width: 12px;
      height: 12px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      outline: none;
      background: #0032A0;
      display:inline-block;
  }
  
  
  .highlight .slick-dots li {
      margin: 5px 11px 7px 8px;
  }
  
  
  .highlight .slick-prev {
      position: absolute;
      left: 35%;
      top: 130%;
      z-index: 1;
  }
  .highlight .slick-next {
      position: absolute;
      top: 130%;
      right: 36%;
      z-index: 1;
  }
  
  
  
  
  @media screen and (max-width: 980px){

    .highlight .slick-dots {
        display:none!important;
    }
  
    .below-contents{
      position: relative;
      top: -54px;
    }
  
      .highlight .slick-prev {
      position: absolute;
      left: 35%;
      top: 198%;
      z-index: 1;
  }
  .highlight .slick-next {
      position: absolute;
      top: 198%;
      right: 35%;
      z-index: 1;
  }
  .highlight .slick-dots {
    bottom: -105%!important;
  }
  
      .highlight .slick-slider {
    margin-left: -12%;
    margin-right: -12%;
  }
  
  .highlight .slick-list {
    padding-top: 1%!important;
    padding-bottom: 10%!important;
    padding-left: 15%!important;
    padding-right: 15%!important;
  }
  
  .slick-dots {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .highlight .slick-track {
    max-width: 100%!important;
    transform: translate3d(0, 0, 0)!important;
    perspective: 100px;
  }
  
  .highlight .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100%!important;
    transform: translate3d(0, 0, 0);
    transition: transform 0.5s, opacity 1s;
  }
  
  .highlight .slick-snext,
  .slick-sprev {
    display: block;
  }
  
  .highlight .slick-current {
    opacity: 1;
    position: relative;
    display: block;
    transform: translate3d(0, 0, 6px);
    z-index: 2;
  }
  
  .highlight .slick-snext {
    opacity: 1;
    transform: translate3d(110%, 0, 0px);
    z-index: 1;
  }
  
  .highlight .slick-sprev {
    opacity: 1;
    transform: translate3d(-110%, 0, 0px);
  }
  
  .highlight .test {
    display: block;
    width: 100%;
    height: auto;
  }
  
  }
  
  @media screen and (min-width: 1440px){
    .price-section table tr td:nth-child(3) ul li:before{
        padding: 3px 0px 0px 3px!important;
    }
    .price-section table tr td:nth-child(2) ul li:before{
        padding: 3px 0px 0px 3.7px!important;
    }


      .highlight .slick-sprev {
      opacity: 1;
      transform: translate3d(-34%, 0, 0px);
  }
  .highlight .slick-current {
      opacity: 1;
      position: relative;
      display: block;
      transform: translate3d(320px, 1px, 7px);
      z-index: 2;
  }
  .highlight .slick-snext {
      opacity: 1;
      transform: translate3d(83%, 0, 0px);
      z-index: 1;
  }

      
  } 
  
  @media screen and (min-width: 981px){
  
      .highlight .slick-current {
    opacity: 1;
    position: relative;
    display: block;
    transform: translate3d(100px, 1px, 7px);
    z-index: 2;
  }
  
  .highlight .slick-snext {
      opacity: 1;
      transform: translate3d(96%, 0, 0px);
      z-index: 1;
  }
  
  .highlight .slick-sprev {
      opacity: 1;
      transform: translate3d(-73%, 0, 0px);
  }    
  
  } 
  
  /* @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
  
  
  
    }
  
  
  @media only screen and (min-device-width: 480px) 
                     and (max-device-width: 1000px) 
                     and (orientation: landscape) {
  
  
  
  
                     } */
  
  @media only screen and (min-width: 1000px) and (max-width: 1440px)  {
  
      .highlight .slick-current {
    opacity: 1;
    position: relative;
    display: block;
    transform: translate3d(100px, 1px, 7px);
    z-index: 2;
  }
  
  .highlight .slick-snext {
      opacity: 1;
      transform: translate3d(96%, 0, 0px);
      z-index: 1;
  }
  
  .highlight .slick-sprev {
      opacity: 1;
      transform: translate3d(-73%, 0, 0px);
  }  
  }
  
  /* @media only screen and (min-width: 1401px) and (max-width: 1500px)  {
  
  
  } */

  /* END Section highlights */

  /* START what we do  */
  .what-we-do-sec h2{
    font-size:32px;
    font-weight:700;
}

.what-we-do-sec .inner-box-section{
    border-radius: 16px;
    height: 320px;
    padding: 20px;
}
.what-we-do-sec h5{
    color:white;
    font-size:24px;
    font-weight:700;
}

.what-we-do-sec p{
    display: block;
    color: white;
    font-size: 18px; 
}

.btn-custom-dark{
    font-size: 14px;
    padding: 16px 18px 13px 18px;
    color: white!important;
    background-color: #000000;
    border-radius: 7px;
    text-decoration: none!important;
    font-weight: 700;
}

.btn-custom-white{
    font-size: 14px;
    padding: 16px 18px 13px 18px;
    color: black!important;
    background-color: white!important;
    border-radius: 7px;
    text-decoration: none!important;
    font-weight: 700;
}
.box-3{
    border-radius: 16px;
}

.what-we-do-sec .btn-custom-dark, .btn-custom-white{
    margin-top: 10%!important;
}
  /* END what we do */

  /* START price section */
  @media (max-width: 1000px){

    .reach-us img {
        margin-bottom: 20px;
        border-radius: 10px;
        display: table-cell;
        vertical-align: middle;
    }


    .price-section table tr td:nth-child(2) ul li:before{
    color: #FFC980;
    font-family: 'FontAwesome';
    content: "\2716";
    background-color: #DB5846;
    border-radius: 46px;
    font-weight: 300;
    padding: 3px 0px 0px 3.7px!important;
    font-size: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    line-height: 7px;
    border: 1px solid #DB5846;

    }
    
}


.price-section h2{
font-size:32px;
font-weight:700;
}

@media (min-width: 1000px){
    .reach-us img{
        border-radius: 10px;
        display: table-cell;
        vertical-align: middle; 
    }

    .price-section table tr td:nth-child(2) ul li:before{
    color: #FFC980;
    font-family: 'FontAwesome';
    content: "\2716";
    background-color: #DB5846;
    border-radius: 46px;
    font-weight: 300;
    padding: 4px 0px 0px 3.7px;
    font-size: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    line-height: 7px;
    border: 1px solid #DB5846;

    }



    table h6 {
    font-size: 22px;
    font-weight: 700;
}
.price-section table .item2 h6{
    font-size:22px!important;
    font-weight: 800!important;
    margin-left:0px!important;
}
}
@media (max-width: 480px){
.price-section table ul li {
    font-size: 1.2rem!important;
}
.price-section table tr td:nth-child(2), table th:nth-child(2) {
    width: 40%;
    padding: 8px;
    vertical-align: top;
}

    table h6 {
    font-size: 16px;
    font-weight: 700;
}

.price-section table .item2 h6, .price-section table .item3 h6 {
    font-size: 16px!important;
    font-weight: 800!important;
    margin-left: 0px!important;
    display:grid;
}


.price-section table tr td:nth-child(2) ul li:before, .price-section table tr td:nth-child(3) ul li:before {
    top: -21px!important;
    left: 6px!important;
}
    
.price-section .container {
    max-width: 390px;
}  
}

.price-section table ul li{
     padding: 0% 0% 3% 7%;
     width: 100%;
     list-style-position: outside;
     position: relative;
        margin-top: 21px;
        color:black;
        font-size: 1.5rem;
        list-style: none;
    }

    .price-section table img{
        padding-right: 15px;
    }

    .price-section table .fill-blue-5 {
    color: var(--light);
    background-color: var(--blue-5);
}
table h2{
    font-size:32px;
    font-weight:800;
}

table h6{

}
.border-left{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.border-right{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}  
.border-bottom-right{
    border-bottom-right-radius: 16px;
}
.border-bottom-left{
    border-bottom-left-radius: 16px;
}
    .item{
    vertical-align:middle;
    margin-bottom: 22px;
    margin-top: 50px;
    border-radius:16px;
    padding:12px;
}
.item2{
    box-shadow: 0px 0px 34px rgba(0, 50, 160, 0.1);
    padding:12px;
    background: #FFFFFF;
}
.item h6:before{
    top: 7px;
    position: relative;
    margin-right: 11px;
    content:url('https://staging.whitegold.money/cms/../content/cms/list-1-1-1.svg'); 
}

/* table h6{
    font-size:22px;
    font-weight:700;
} */


.price-section table .item2 h6:before{
    top: 7px;
    position: relative;
    margin-right: 11px;
    content:url('https://staging.whitegold.money/cms/../content/cms/Group-3212.svg');
    
}
.price-section table .item2 ul{
    margin-bottom: 22px;
    margin-top: 22px;
}
.price-section table .item2 ul li:before{
    color: #FFC980;
    font-family: 'FontAwesome';
    content: "\2716";
    background-color: #DB5846;
    border-radius: 46px;
    font-weight: 300;
    padding: 4px 0px 0px 3px;
    font-size: 7px;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 15px;
    height: 15px;
    line-height: 7px;
    border: 1px solid #DB5846;
    }
    .price-section table .item2 ul li{
    padding-top: 15px;
    list-style: none;
    padding-left: 20px;
    position: relative;
    color: #212322;
}
.price-section table .item3 h6:before{
    top: 7px;
    position: relative;
    margin-right: 11px;
    content:url('https://staging.whitegold.money/cms/../content/cms/Group-3214.svg');
}
.price-section table .item3 h6{
    font-size:22px;
    font-weight: 800!important;
    margin-left:0px!important;
    color:white;
}
.price-section table .item3{
    border-top-right-radius: 16px;
    /* border-bottom-right-radius: 16px; */
    box-shadow: 0px 0px 34px rgba(0, 50, 160, 0.1);
    padding:12px;
    
}
.price-section table .item3 ul{
    margin-bottom: 22px;
    margin-top: 22px;
}
.price-section table .item3 ul li{
    padding-top: 15px;
    list-style: none;
    padding-left: 20px;
    position: relative;
    color: #ffffff;
}
.price-section table .item3 ul li:before{
    color: #FFFFFF;
    font-family: 'FontAwesome';
    content: "\f00c";
    background-color: #4BAE4F;
    border-radius: 46px;
    font-weight: 300;
    padding: 4px 0px 0px 3px;
    font-size: 7px;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 15px;
    height: 15px;
    line-height: 7px;
    border: 1px solid #4bae4f;

    }

    .price-section table .price-section h2 {
    font-size: 32px;
    font-weight: 800;
}

.price-sectiontable .price-section h6{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-weight: 600;
}

.light-blue{
    background-color:#b3d4fc1a;
}

.light-grey{
    background-color:#F5F5F5;
}

.price-section table .item2{
    border-top-left-radius: 16px;
}

.price-section table tr td:nth-child(2), table th:nth-child(2)  {
    vertical-align: middle;
    width: 35%;
    padding: 15px;
    background: #FFFFFF;
box-shadow: 0px 0px 34px rgba(0, 50, 160, 0.1);
}


.price-section table tr td:nth-child(3) ul li:before{
    color: #FFFFFF;
    font-family: 'FontAwesome';
    content: "\f00c";
    background-color: #4BAE4F;
    border-radius: 46px;
    font-weight: 300;
    padding: 4px 0px 0px 3px;
    font-size: 7px;
    position: absolute;
    top: 2px;
    left: 0px;
    width: 15px;
    height: 15px;
    line-height: 7px;
    border: 1px solid #4bae4f;

    }

    .price-section table tr th .item{
        vertical-align: middle;
    }

    .ads-lp .price-section table tr td:nth-child(3), .price-section table th:nth-child(3)  {
    width: 35%;
    background: #0032A0!important;
    padding: 15px;
    vertical-align: middle;
}

.price-section table tr td:nth-child(3) ul li{
    
    color:white;
}

.price-section th:first-child, td:first-child {
    padding:15px;
    width: 30%;
   background-color:#b3d4fc1a;
   vertical-align: middle;
}

table .title1{
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding-top: 13px;
}
 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .price-section table tr td:nth-child(3) ul li:before{
        left: -6px
    }
    .price-section table tr td:nth-child(2) ul li:before{
        top: 4px;
        left: -6px
}

  }


@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 1000px) 
                   and (orientation: landscape) {

                    .price-section table tr td:nth-child(3) ul li:before{
    left: -6px
}
.price-section table tr td:nth-child(2) ul li:before{
    top: 2px;
    left: -6px
}

                   } 

.location-lp th:last-child, td:last-child {
    background-color: var(--blue-5)!important;
}		   
  /* END price section */
    
  /* start reach us  */

  .item4{
    padding:10px;
    background-color:white;
    box-shadow: 0px 0px 33.9723px rgba(0, 50, 160, 0.1);
    border-radius: 15.9869px;
    position: relative;
}

/* .reach-us  h2{
font-size:32px;
font-weight:700;
}
.reach-us h4{
    font-size:24px;
    font-weight:700;
    display: table-cell;
    vertical-align: middle;
} */

.reach-us span{
    font-weight: 500;
    color: #00000075;
    display: table-cell;
    vertical-align: middle;
}



/* .reach-us p {
    display: inline-block;
    font-size: 16px;
    color: #212322;
} */

.widget-area .widget {
    padding: 7px 13px;
    position: relative;
}
.featured-icon-box {
    position: relative;
    margin: 15px 0;
}

.featured-icon-box.icon-align-before-content .featured-content, .featured-icon-box.icon-align-before-title .featured-title {
    padding-left: 15px;
}

.reach-us .address::before{
    margin-right: 12px;
    content:url('https://staging.whitegold.money/cms/../content/cms/gps-2-1-1.svg');  
}

.reach-us .number::before{
    position: relative;
    top: -5px;
    margin-right: 13px;
    content:url('https://staging.whitegold.money/cms/../content/cms/telephone-1-1.svg');  
}
 
@media (max-width: 480px){
    .featured-icon-box.icon-align-before-content .featured-icon, .featured-icon-box.icon-align-before-content .featured-content, .featured-icon-box.icon-align-before-title .featured-title, .featured-icon-box.icon-align-before-title .featured-icon {
        padding-top: 0px;
        display: block;
    }

    .reach-us  h2{
font-size:32px;
font-weight:700;
}
.reach-us h4{
    font-size:16px;
    font-weight:700;
    display: table-cell;
    vertical-align: middle;
}
.reach-us .container {
    max-width: 380px!important;
}
.reach-us p {
    display: block;
    font-size: 14px;
    color: #212322;
}

}

@media (min-width: 600px){
    .featured-icon-box.icon-align-before-content .featured-icon, .featured-icon-box.icon-align-before-content .featured-content, .featured-icon-box.icon-align-before-title .featured-title, .featured-icon-box.icon-align-before-title .featured-icon {
        display: table-cell;
        vertical-align: middle;
    }
    .reach-us  h2{
font-size:32px;
font-weight:700;
}
.reach-us h4{
    font-size:24px;
    font-weight:700;
    display: table-cell;
    vertical-align: middle;
}
    .reach-us p {
    display: block;
    font-size: 16px;
    color: #212322;
}
}

@media (min-width: 1800px){

    .highlight .slick-list{
        padding-left: 30%!important;
    }
}



  /* END reach us */
