
# the .DS_Store files everywhere
.DS_Store

/conf.php
/conf.*.php
/commits.md

# the content directory
/content

# WP Debug Log file
/cms/wp-content/debug.log

# WP Cloudflare Super Page Cache
/cms/wp-content/wp-cloudflare-super-page-cache
