
# Disable redirects with trailing slashes when URLs match the directory paths
# DirectorySlash Off




<IfModule mod_rewrite.c>

RewriteEngine On

# If the content assets is not present locally, fetch it from "the remote server"
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?(content/.*) server/forward-to-remote-server.php [NC,QSA,L]

# Correct REST API requests (since WordPress is accessible through a nested URL)
RewriteRule ^/?wp\-json(/.*)$ "/cms/?rest_route=$1" [NC,QSA,L]


# RewriteCond %{REQUEST_URI} !^/?cms/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC,QSA,L]

</IfModule>
