/*
 * Sell Gold Section
 */

.step-cards {}

/*.step-cards .sgs1 .card-content,
.step-cards .rgs1 .card-content {
	background-size: cover;
	background-position: center center;
	background-image: linear-gradient(0deg, rgba(30,80,204,1) 0%, rgba(30,80,204,0.65) 25%, rgba(30,80,204,0.65) 75%, rgba(30,80,204,1) 100%), var(--bg-image);
}*/

.step-cards .sgs1 .card-content .bg-img,
.step-cards .rgs1 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.7) translateX(42%) translateY(20%);
}
.step-cards .sgs2 .card-content .bg-img,
.step-cards .rgs2 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.7) translateX(40%) translateY(21%);
}
/*.step-cards .rgs2 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.7) translateX(40%) translateY(21%);
}*/
.step-cards .sgs3 .card-content .bg-img,
.step-cards .rgs3 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.73) translateX(38%) translateY(15%);
}
.step-cards .sgs4 .card-content .bg-img,
.step-cards .rgs7 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.7) translateX(25%) translateY(33%);
}
.step-cards .sgs5 .card-content .bg-img,
.step-cards .rgs5 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.8) translateX(0%) translateY(60%);
}
.step-cards .sgs5 .card-content .row.m-space,
.step-cards .rgs5 .card-content .row.m-space {
	margin-bottom: calc(var(--space-100)*5);
}
.step-cards .sgs5 .card-content .bg-img:after,
.step-cards .rgs5 .card-content .bg-img:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(0deg, rgba(33,35,34,1) 40%, rgba(33,35,34,0) 60%);
}
.step-cards .sgs6 .card-content .bg-img,
.step-cards .rgs4 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.8) translateX(42%) translateY(10%);
}
.step-cards .sgs6 .card-content .row.m-space,
.step-cards .rgs4 .card-content .row.m-space {
	margin-bottom: calc(var(--space-100)*4);
}
.step-cards .rgs6 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.675) translateX(50%) translateY(24%);
}
.step-cards .sgs7 .card-content .bg-img,
.step-cards .rgs8 .card-content .bg-img {
	bottom: 0;
	right: 0;
	width: calc(var(--card)*1);
	transform: scale(0.75) translateX(20%) translateY(18%);
}
.step-cards .sgs7 .card-content .row.m-space,
.step-cards .rgs8 .card-content .row.m-space {
	margin-bottom: calc(var(--space-100)*4);
}
.step-cards .sgs7 .card-content .bg-img:after,
.step-cards .rgs8 .card-content .bg-img:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(0deg, rgba(30,80,204,1) 25%, rgba(30,80,204,0) 50%);
}

@media( min-width: 640px )  {
	.step-cards .sgs1 .card-content .bg-img,
	.step-cards .rgs1 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.58) translateX(20%) translateY(55%);
	}
	.step-cards .sgs2 .card-content .bg-img,
	.step-cards .rgs2 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.58) translateX(25%) translateY(70%);
	}
	/*.step-cards .rgs2 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.6) translateX(25%) translateY(60%);
	}*/
	.step-cards .sgs3 .card-content .bg-img,
	.step-cards .rgs3 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.7) translateX(15%) translateY(60%);
	}
	.step-cards .sgs4 .card-content .bg-img,
	.step-cards .rgs7 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.65) translateX(10%) translateY(45%);
	}
	.step-cards .sgs5 .card-content .bg-img,
	.step-cards .rgs5 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.7) translateX(15%) translateY(60%);
	}
	.step-cards .sgs5 .card-content .row.m-space,
	.step-cards .rgs5 .card-content .row.m-space {
		margin-bottom: calc(var(--space-100)*0);
	}
	.step-cards .rgs6 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.8) translateX(15%) translateY(42%);
	}
	.step-cards .sgs6 .card-content .bg-img,
	.step-cards .rgs4 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.7) translateX(20%) translateY(55%);
	}
	.step-cards .sgs7 .card-content .row.m-space,
	.step-cards .rgs8 .card-content .row.m-space {
		margin-bottom: calc(var(--space-100)*0);
	}
	.step-cards .sgs7 .card-content .bg-img,
	.step-cards .rgs8 .card-content .bg-img {
		width: calc(var(--card)*1.5);
		transform: scale(0.7) translateX(25%) translateY(55%);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}




/* -- Release Gold -- */

.step-cards .rgs1 .card-content {
	background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.65) 25%, rgba(255,255,255,0.65) 75%, rgba(255,255,255,1) 100%), var(--bg-image);
}

.step-cards .rgs8 .card-content .bg-img:after {
	background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 35%);
}

@media( min-width: 640px )  {

}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}