/*
 * FAQs Page
 */

.faq-content-section .faq-sidebar {
	margin-bottom: var(--space-50);
}
.faq-content-section .faq-sidebar .sidebar-min {}
.faq-content-section .faq-sidebar .sidebar-min * { pointer-events: none; }
.faq-content-section .faq-sidebar .sidebar-min .sidebar-min-label .icon {
	transition: .2s ease-out;
}
.faq-content-section .faq-sidebar .faq-hierarchy {
	max-height: 0;
	transition: .5s ease-in-out;
	overflow: hidden;
}

/* -- Level 1 -- */
.faq-content-section .faq-sidebar .faq-hierarchy ul {
	position: relative;
	list-style: none;
	margin: 0;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li {
	position: relative;
	margin: 0;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li a {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 91.66667%;
	padding: var(--space-50);
	padding-left: calc(var(--space-50)*3);
	font-weight: 700;
	font-size: 1.6rem;
	transition: .2s ease-out; 
	line-height: 1;
	transition: background-color .25s .25s ease-in-out;
}

.faq-content-section .faq-sidebar .faq-hierarchy ul li a:hover {
	background-color: var(--neutral-1);
	transition: background-color .25s ease-in-out;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li.active > a{
	background-color: var(--blue-1);
}

/* -- Level 2 -- */
/*.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li {} */
.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li a { 
	width: 83.33333%;
	margin-left: 8.33333%;
	font-weight: 400; 
	font-size: 1.1rem; 
	line-height: 1.5;
}

/* -- Level 3 -- */
/*.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li > ul li {}*/
.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li > ul li a {
	width: 75%;
	margin-left: 16.66666%;
	font-size: 1.1rem;
}

/* -- Toggle -- */
.faq-content-section .faq-sidebar.show-sidebar .sidebar-min .sidebar-min-label .icon {
	transform: rotate(180deg);
}
.faq-content-section .faq-sidebar.show-sidebar .faq-hierarchy {
	padding: var(--space-25) 0;
	max-height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	border-bottom: 1px solid var(--blue-1);
}

.faq-content-section .faq-sidebar .faq-hierarchy ul li:not(.show-hierarchy) a + ul {
	display: none;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li a + .hierarchy-toggle {
	display: none;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li a + ul + .hierarchy-toggle {
	position: absolute;
	z-index: 2;
	top: calc(8px - (var(--space-50)/2));
	left: 0;
	padding: 0;
	line-height: calc(var(--space-50)*3);
	width: calc(var(--space-50)*3);
	height: calc(var(--space-50)*3);
	cursor: pointer;
	color:  inherit;
	background-color: transparent;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li a + ul + .hierarchy-toggle {
	left: 8.33333%;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li > ul li a + ul + .hierarchy-toggle {
	left: 16.66666%;
}

.faq-content-section .faq-sidebar .faq-hierarchy ul li a + ul + .hierarchy-toggle {
	transition: .2s ease-out;
}
.faq-content-section .faq-sidebar .faq-hierarchy ul li.show-hierarchy > a + ul + .hierarchy-toggle {
	transform: rotate(90deg);
}


@media( min-width: 640px )  {
	.faq-content-section .faq-sidebar .faq-hierarchy { width: 66.6666% }
	/* -- Level 1 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li a { font-size: 1.8rem; }
	/* -- Level 2 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li a { font-size: 1.1rem; }
	/* -- Level 3 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li > ul li a { font-size: 1.1rem; }
}

@media( min-width: 1040px ) {
	.faq-content-section .faq-sidebar { margin: 0; }
	.faq-content-section .faq-sidebar .faq-hierarchy,
	.faq-content-section .faq-sidebar.show-sidebar .faq-hierarchy {
		max-height: none;
		padding: 0;
	}


	.faq-content-section .faq-sidebar .faq-hierarchy { width: 100% }
	/* -- Level 1 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li a { font-size: 2.0rem; }
	/* -- Level 2 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li a { font-size: 1.3rem; }
	/* -- Level 3 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li > ul li a { font-size: 1.3rem; }
	/* -- Toggle -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li a + ul + .hierarchy-toggle {
		top: calc(10px - (var(--space-50)/2));
	}
}

@media( min-width: 1480px ) {
	/* -- Level 1 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li a { font-size: 2.4rem;  }
	/* -- Level 2 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li a { font-size: 1.5rem; }
	/* -- Level 3 -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li > ul li > ul li a { font-size: 1.5rem; }
	/* -- Toggle -- */
	.faq-content-section .faq-sidebar .faq-hierarchy ul li a + ul + .hierarchy-toggle {
		top: calc(13px - (var(--space-50)/2));
	}
}


/*
 * FAQs Search
 */

.faqs-search {
	/*position: absolute;*/
	/*width: 100%;*/
	/*z-index: 2;*/
	/*transform: translateY(-50%);*/
	border-bottom: 2px solid var(--blue-4);
}
.faqs-search .search-bar {
	display: flex;
	transition: .2s ease-out;
}
.faqs-search .search-bar .search-input {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	background-color: transparent;
	color: var(--light);
}

.faqs-search .search-bar:focus-within .search-input,
.faqs-search .search-bar .search-input:focus {
	background-color: var(--light);
	color: var(--dark);
}
.faqs-search .search-bar .search-input:focus {
	outline: none;
	box-shadow: none;
}
.faqs-search .search-bar .search-button {
	margin-left: var(--space-50);
	background-color: var(--light);
	color: var(--blue-5);
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/*
 * FAQs Search Listing
 */

.search-listing-section {
	min-height: 50vh;
}

.search-listing-section .search-listing .item {
	margin-bottom: var(--space-50);
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}
