/*
 * Sample Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Step Cards
 */

.step-cards {}
.step-cards .step-card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--space-50);
}
.step-cards .card {
	border-radius: var(--space-50);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	overflow: hidden;
}
.step-cards .card .card-head {
	display: block;
	cursor: pointer;
	padding: var(--space-50);
}
.step-cards .card .card-head * {
	pointer-events: none;
}
.step-cards .card .index {
	display: inline-block;
	text-align: center;
	width: var(--space-100);
	height: var(--space-100);
	line-height: var(--space-100);
	border-radius:  var(--space-25);
	color: var(--blue-4);
	background-color: var(--yellow-2);
	box-shadow: inset 0 0 0 calc(var(--space-25)/3) var(--yellow-2);
	transform-origin: left center;
	transform: scale(0.85);
	transition:  .3s ease-out;
}

.step-cards .card > input:checked + .card-head .index {
	color: var(--yellow-2);
	background-color: transparent;
}

/* -- exception -- */
.release-gold-section .step-cards .card .index {
	color: var(--light);
	background-color: var(--blue-4);
	box-shadow: inset 0 0 0 calc(var(--space-25)/3) var(--blue-4);
}
.release-gold-section .step-cards .card > input:checked + .card-head .index {
	color: var(--blue-4);
	background-color: transparent;
}

.step-cards .card.fill-dark .index {
	color: var(--dark);
	background-color: var(--yellow-2);
	box-shadow: inset 0 0 0 calc(var(--space-25)/3) var(--yellow-2);
}
.step-cards .card.fill-dark > input:checked + .card-head .index {
	color: var(--yellow-2);
	background-color: transparent;
}
/* -- END:  exception -- */

.step-cards .card .card-head > .title {}
.step-cards .card .toggle {
	padding-top: var(--space-25);
	padding-right: var(--space-25);
	text-align: right;
}
.step-cards .card .toggle .arrow {
	display: inline-block;
	width: var(--space-50);
	height: var(--space-50);
	position: relative;
	transform: scale(0.75);
}
.step-cards .card .toggle .arrow .a1,
.step-cards .card .toggle .arrow .a2 {
	position: absolute;
	display: block;
	width: 100%;
	height: calc(var(--space-25)/4);
	background-color: var(--yellow-2);
	box-shadow: 0 0 0 1px var(--yellow-2);
	top: 50%;
	transition: .3s ease-out;
}

/* -- exception -- */
.release-gold-section .step-cards .card .toggle .arrow .a1,
.release-gold-section .step-cards .card .toggle .arrow .a2 {
	background-color: var(--blue-4);
	box-shadow: 0 0 0 1px var(--blue-4);
}

.step-cards .card.fill-dark .toggle .arrow .a1,
.step-cards .card.fill-dark .toggle .arrow .a2 {
	background-color: var(--yellow-2);
	box-shadow: 0 0 0 1px var(--yellow-2);
}

/* -- END:  exception -- */

.step-cards .card .toggle .arrow .a1 {
	right: 50%;
	transform-origin: right center;
	transform: translateY(-50%) rotate(35deg);
}
.step-cards .card .toggle .arrow .a2 {
	left: 50%;
	transform-origin: left center;
	transform: translateY(-50%) rotate(-35deg);
}
.step-cards .card > input:checked + .card-head .toggle .arrow .a1 {
	transform: translateY(-50%) rotate(-35deg);
}
.step-cards .card > input:checked + .card-head .toggle .arrow .a2 {
	transform: translateY(-50%) rotate(35deg);
}

.step-cards .card .card-content {
	position: relative;
	z-index: 1;
	max-height: 0;
	opacity: 0;
	transition: .5s ease-in-out;
	background-repeat: no-repeat;
	overflow: hidden;
}
.step-cards .card .card-content .row {
	position: relative;
	z-index: 2;
}
.step-cards .card .card-content .bg-img {
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
}

.step-cards .card > input:checked + .card-head + .card-content {
	max-height: 1000px;
	opacity: 1;
}
.step-cards .card .card-content .checkmark {
	display: inline-block;
	text-align: center;
	width: var(--space-100);
	height: var(--space-100);
	line-height: var(--space-100);
	border-radius:  var(--space-25);
	transform-origin: left top;
	transform: scale(0.85);
}

@media( min-width: 640px )  {
}
@media( min-width: 1040px ) {
}
@media( min-width: 1480px ) {}





/*
 *
 *	Watch Video
 *
 */

.watch-video {
	position: relative;
	padding: var(--space-25);
	border-radius: var(--space-50);
	cursor: pointer;
}
.watch-video * { pointer-events: none; }
.watch-video .thumbnail{
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	padding-bottom: 75%;
	border-radius: var(--space-25);
	overflow: hidden;
	background-color: var(--neutral-3);
	background-size: cover;
	background-position: center center;
}
.watch-video .thumbnail:before {
	position: absolute;
	z-index: 2;
	content: '';
	/*content: '\25B6';*/
	display: block;
	left: 50%;
	top: 50%;
	width: var(--space-100);
	height: var(--space-100);
	overflow: hidden;
	/*color: var(--blue-4);*/
	/*font-size: var(--p);*/
	/*text-align: center;*/
	/*line-height: var(--space-100);*/
	border-radius: var(--space-25);
	background-color: var(--light);
	transform: translate(-50%, -50%);
}
.watch-video .thumbnail:after {
	position: absolute;
	z-index: 3;
	content: '';
	width: 0;
	height: 0;
	display: block;
	left: 50%;
	top: 50%;
	width: var(--space-100);
	height: var(--space-100);
	border-style: solid;
	border-width: var(--space-50) 0 var(--space-50) var(--space-75);
	border-color: transparent transparent transparent var(--neutral-4);
	transform: translate(-40%, -50%) scale(0.5);
}






/*
 *
 *	Form Card
 *
 */

.form-card {
	position: relative;
	border-radius: var(--space-50);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	opacity: 0.9;
	overflow: hidden;
}

.form-card .form {
	padding: var(--space-50);
}

.form-card .form-label {
	position: relative;
}

.form-card .form-label .form-input-field {
	color: var(--neutral-3);
}

.form-card .form-label .form-label-title {
	display: inline-block;
	font-size: var(--p);
	transition: .3s ease-out;
	position: absolute;
	z-index: 5;
	top: 0%;
	left: var(--space-25);
	padding: 0 var(--space-25);
	font-size: var(--small);
	color: var(--neutral-3);
	transform: translateY(-50%);
}

.form-card .form-label > .form-input-field::placeholder {
	opacity: 1;
	color: var(--neutral-3);
}

.form-card .form-label > .form-input-field.placeholder-shown + .form-label-title,
.form-card .form-label > .form-input-field:placeholder-shown + .form-label-title {
	opacity: 0; }
.form-card .form-label .form-label-title { opacity: 1; }

.form-card .form-label:focus-within > .form-input-field,
.form-card .form-label:focus-within > .form-label-title {
	color: var(--blue-4);
}


/* -- Phone Verify --  */
.form-card .phone-verify {
	position: relative;
}
.form-card .phone-verify .phone-number {
	position: relative;
	z-index: 1;
	padding-left: calc((var(--space-100)*2) + var(--space-50));
}
.form-card .phone-verify .country-code,
.form-card .phone-verify .country-code-label {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(var(--space-100)*2);
}
.form-card .phone-verify .country-code {
	z-index: 3;
	opacity: 0;
}
.form-card .phone-verify .country-code-label {
	z-index: 2;
	border: 0;
	padding: 0;
    text-align: center;
}

.form-card .phone-verify .country-code-divider {
	display: inline-block;
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 0;
	font-size: var(--p) !important;
	line-height: var(--space-150);
	color: var(--neutral-3);
	opacity: 0.55;
	transform: translate( calc( (var(--space-100)*2) - 50% ), -47.5% );
}

/* -- Dark Mode --  */
.form-card.form-dark .form-label .form-input-field {
	color: var(--light);
}

.form-card.form-dark .form-label .form-label-title {
	color: var(--light);
}

.form-card.form-dark .form-label > .form-input-field::placeholder {
	color: var(--light);
}

.form-card.form-dark .form-label:focus-within > .form-input-field,
.form-card.form-dark .form-label:focus-within > .form-label-title {
	color: var(--yellow-2);
}

.form-card.form-dark .phone-verify .country-code-divider {
	color: var(--light);
}

/* -- Form Pages/Layer --  */
.form-card .form-base {
	position: relative;
	z-index: 1;
	transform: translateX(0%);
	transition: .3s ease-out;
}
.form-card .form-otp {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 100%;
	width: 100%;
	height: 0;
	transform: translateX(0%);
	transition: .3s ease-out;
}
.form-card .form-thankyou {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 200%;
	width: 100%;
	height: 0;
	transform: translateX(0%);
	transition: .3s ease-out;
}

.form-card.show-otp .form-base,
.form-card.show-otp .form-otp,
.form-card.show-otp .form-thankyou {
	transform:  translateX(-100%);
}

.form-card.show-thankyou .form-base,
.form-card.show-thankyou .form-otp,
.form-card.show-thankyou .form-thankyou {
	transform:  translateX(-200%);
}






/*
 * Faqs Section
 */

/* -- videos faqs -- */
.videos-faqs .videos-faqs-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--space-50);
}

@media( min-width: 640px )  {
	.videos-faqs .videos-faqs-grid .watch-video .info {
		padding-left: var(--space-50);
	}
}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* -- articles faqs -- */
.articles-faqs .faq {
	border-bottom: solid 1px var(--blue-4);
	overflow: hidden;
}

.articles-faqs .faq:last-child {
	border-bottom: 0;
}

.articles-faqs .faq .question {
	cursor: pointer;
}

.articles-faqs .faq .question .toggle {
	padding-top: var(--space-25);
	padding-right: var(--space-25);
	text-align: right;
}
.articles-faqs .faq .question .toggle .arrow {
	display: inline-block;
	width: var(--space-50);
	height: var(--space-50);
	position: relative;
	transform: scale(0.5);
}
.articles-faqs .faq .question .toggle .arrow .a1,
.articles-faqs .faq .question .toggle .arrow .a2 {
	position: absolute;
	display: block;
	width: 100%;
	height: calc(var(--space-25)/4);
	background-color: var(--light);
	box-shadow: 0 0 0 1px var(--light);
	top: 50%;
	transition: .3s ease-out;
}
.articles-faqs .faq .question .toggle .arrow .a1 {
	right: 50%;
	transform-origin: right center;
	transform: translateY(-50%) rotate(35deg);
}
.articles-faqs .faq .question .toggle .arrow .a2 {
	left: 50%;
	transform-origin: left center;
	transform: translateY(-50%) rotate(-35deg);
}
.articles-faqs .faq > input:checked + .question .toggle .arrow .a1 {
	transform: translateY(-50%) rotate(-35deg);
}
.articles-faqs .faq > input:checked + .question .toggle .arrow .a2 {
	transform: translateY(-50%) rotate(35deg);
}


.articles-faqs .faq .answer {
	max-height: 0px;
	margin-bottom: 0;
	opacity: 0;
	transition: .5s ease-in-out;

}
.articles-faqs .faq > input:checked + .question + .answer {
	max-height: 500px;
	margin-bottom: var(--space-75);
	opacity: 1;
}

/* -- exception -- */
.release-gold-faqs-section .articles-faqs .faq {
	border-bottom: solid 1px var(--neutral-2);
}

.release-gold-faqs-section .articles-faqs .faq:last-child {
	border-bottom: 0;
}

.release-gold-faqs-section .articles-faqs .faq .question .toggle .arrow .a1,
.release-gold-faqs-section .articles-faqs .faq .question .toggle .arrow .a2 {
	background-color: var(--neutral-4);
	box-shadow: 0 0 0 1px var(--neutral-4);
}

/* -- END:  exception -- */

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Header Section
 */

.header-section { position: relative; }
.header-section .logo {
	width: calc(var(--card)/2.5);
}
.header-section .select-region { position: relative; }
.header-section .select-region .select-region-option {
	cursor: pointer;
	position: relative;
	display: inline-block;
	z-index: 1;
	opacity: 0;
}
.header-section .select-region .select-region-label {
	pointer-events: none;
	position: absolute;
	display: inline-block;
	z-index: 2;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	padding-right: var(--space-75);
	color: var(--light);
	line-height: 1.5;
	opacity: 0.65;
}

.header-section .select-region .select-region-label:before {
	pointer-events: none;
	content: '';
	position: absolute;
	display: inline-block;
	z-index: 2;
	left: 0;
	bottom: 0;
	width: calc(100% -  var(--space-75));
	height: 1px;
	background-color: var(--light);
}
.header-section .select-region .select-region-label:after {
	pointer-events: none;
	content: '';
	position: absolute;
	display: inline-block;
	z-index: 2;
	right: 0;
	top: 50%;
	width: var(--space-50);
	height: var(--space-25);
	border-left: solid var(--space-25) transparent;
	border-right: solid var(--space-25) transparent;
	border-top: solid var(--space-25) var(--light);
	transform: translateY(-40%) scale(0.65);
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Sell Gold Form Sections
 */

.sell-gold-form-section {
	position: relative;
	overflow: hidden;
}

.sell-gold-form-section .sell-gold-form {
	position: relative;
	z-index: 3;
}
.sell-gold-form-section .char {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
	width: var(--card);
	transform: translateX(-30%) translateY(-75%) scale(1.25);
}
.sell-gold-form-section .char:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	background-image: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 35%);
}

.sell-gold-form-section .logo {
	width: calc(var(--card)/2.5);
}

@media( min-width: 640px )  {
	.sell-gold-form-section .char {
		width: calc(var(--card) * 2);
		transform: translateX(-35%) translateY(0%) scale(0.9);
	}
}
@media( min-width: 1040px ) {
	.sell-gold-form-section > .container {
		padding-bottom: 140px;
	}
	.sell-gold-form-section .char {
		width: calc(var(--card) * 2);
		transform: translateX(-15%) translateY(10%) scale(1);
	}
}
@media( min-width: 1480px ) {
	.sell-gold-form-section > .container {
		padding-bottom: 200px;
	}
}





/*
 * sell-gold-home-visit-form-section
 */

.sell-gold-home-visit-form-section {
	position: relative;
	overflow: hidden;
}

.sell-gold-home-visit-form-section .sell-gold-home-visit-form {
	position: relative;
	z-index: 3;
}
.sell-gold-home-visit-form-section .char {
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 50%;
	width: var(--card);
	transform: translateX(-10%) translateY(0%) scale(0.85);
}
.sell-gold-home-visit-form-section .char:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	background-image: linear-gradient(0deg, rgba(0,50,160,1) 0%, rgba(0,50,160,0) 35%);
}

@media( min-width: 640px )  {
	.sell-gold-home-visit-form-section .char {
		transform: translateX(20%) translateY(20%) scale(0.75);
	}
}
@media( min-width: 1040px ) {
	.sell-gold-home-visit-form-section > .container {
		padding-bottom: 140px;
	}
	.sell-gold-home-visit-form-section .char {
		transform: translateX(70%) translateY(20%) scale(0.9);
	}
}
@media( min-width: 1480px ) {
	.sell-gold-home-visit-form-section > .container {
		padding-bottom: 200px;
	}
}




/*
 * Report Malpractice Sections
 */

.report-malpractice-section {}

.report-malpractice-section .report-malpractice-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: var(--space-50);
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.report-malpractice-section .report-malpractice-grid {
		grid-template-columns: 1fr 1fr;
	}
	.report-malpractice-section .report-malpractice-grid .complaint {
		grid-column: span 2;
	}

}
@media( min-width: 1480px ) {}





/*
 * Sample Section
 */

.find-branch-section { position: relative; }
.find-branch-section .intro { position: relative; }
.find-branch-section .intro .title {
	position: relative;
	z-index: 2;
}
.find-branch-section .intro .char {
	position: absolute;
	z-index: 1;
	width: var(--card);
	top: 0;
	right: 0;
	transform: translateX(75%) translateY(-11%) scale(0.85);
}
.find-branch-section .branch-listing {
	position: relative;
	z-index: 2;
}
.find-branch-section .branch-listing .branch-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--space-50);
	grid-auto-rows: calc(var(--space-100)*5.55);
	transition: opacity 0.25s ease-out;
}
.find-branch-section .branch-listing .branch-grid.fade-out {
	opacity: 0;
	transition: opacity 0.25s ease-in;
}
.find-branch-section .branch-listing .branch-grid .branch {
	padding: var(--space-25);
	border-radius: var(--space-50);
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
	grid-row: span 2;
}
.find-branch-section .branch-listing .branch-grid .branch:nth-child(2) {
	grid-row: 2 / span 2;
    grid-column: 2;
}
.find-branch-section .branch-listing .branch-grid .branch .thumbnail {
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-position: center center;
}
.find-branch-section .branch-listing .branch-grid .branch .title {
	word-break: break-word;
	hyphens: auto;
	margin: var(--space-50) 0 var(--space-25);
	line-height: 1;
	min-height: calc( var(--h6) * 2 );
}
.find-branch-section .branch-listing .branch-grid .branch .check-distance {
	display: inline-block;
	cursor: pointer;
	border-radius: var(--space-25);
}
.find-branch-section .branch-listing .branch-grid .branch .check-distance * { pointer-events: none; }
.find-branch-section .branch-listing .branch-grid .branch .check-distance .material-icons {
	transform: scale(1.25);
}
.find-branch-section .branch-listing .branch-grid .branch .gmaps-link {
	margin-top: var(--space-50);
}

@media( min-width: 640px )  {
	.find-branch-section .intro .char {
		transform: translateX(37%) translateY(0%) scale(0.9);
	}
	.find-branch-section .branch-listing .branch-grid {
		grid-auto-rows: auto;
	}
	.find-branch-section .branch-listing .branch-grid .branch:nth-child(2) {
		grid-row: span 2;
	    grid-column: auto;
	}
	.find-branch-section .branch-listing .branch-grid {
		grid-auto-rows: calc(var(--space-100)*6.075);
	}
}
@media( min-width: 1040px ) {
	.find-branch-section .intro .char {
		transform: translateX(70%) translateY(1%) scale(1.3);
	}
	.find-branch-section .branch-listing .branch-grid {
		grid-auto-rows: calc(var(--space-100)*7.075);
	}
	.find-branch-section .branch-listing .branch-grid .branch {
		padding: var(--space-50);
	}
}
@media( min-width: 1480px ) {}

.find-branch-section .branch-listing .branch-more .order-by-nearest {
	cursor: pointer;
}
.find-branch-section .branch-listing .branch-more .order-by-nearest.loading {
	opacity: 0.75;
	pointer-events: none;
	cursor: not-allowed;
	cursor: wait;
}



/* -- Landing Carousel -- */
.landing-carousel-section {}

@media( min-width: 640px )  {
	.landing-carousel-section .content-block h1 { font-size: calc(var(--h1)*1.25); }
	.landing-carousel-section .content-block h2 { font-size: calc(var(--h2)*1.25); }
	.landing-carousel-section .content-block h3 { font-size: calc(var(--h3)*1.25); }
	.landing-carousel-section .content-block h4 { font-size: calc(var(--h4)*1.25); }
	.landing-carousel-section .content-block h5 { font-size: calc(var(--h5)*1.25); }
	.landing-carousel-section .content-block h6 { font-size: calc(var(--h6)*1.25); }
	.landing-carousel-section .content-block p 	{ font-size: calc(var(--p)*1.25); }
	.landing-carousel-section .content-block label { font-size: calc(var(--label)*1.25); }
	.landing-carousel-section .content-block small { font-size: calc(var(--small)*1.25); }
}
@media( min-width: 1040px ) {
	.landing-carousel-section .content-block h1 { font-size: calc(var(--h1)*1.5); }
	.landing-carousel-section .content-block h2 { font-size: calc(var(--h2)*1.5); }
	.landing-carousel-section .content-block h3 { font-size: calc(var(--h3)*1.5); }
	.landing-carousel-section .content-block h4 { font-size: calc(var(--h4)*1.5); }
	.landing-carousel-section .content-block h5 { font-size: calc(var(--h5)*1.5); }
	.landing-carousel-section .content-block h6 { font-size: calc(var(--h6)*1.5); }
	.landing-carousel-section .content-block p 	{ font-size: calc(var(--p)*1.5); }
	.landing-carousel-section .content-block label { font-size: calc(var(--label)*1.5); }
	.landing-carousel-section .content-block small { font-size: calc(var(--small)*1.5); }
}
@media( min-width: 1480px ) {}





/* -- Footer Section --  */ 

.footer-section {}
.footer-section .footer-menu .link {
	display: inline-block;
	line-height: 1.75;
	margin-bottom: var(--space-25);
}



/*
 * Menu Section
 */

.menu-section {}
.menu-section .menu {}

.menu-section .menu .menu-button {
	position: relative;
	display: inline-block;
	font-size: var(--p);
	line-height: var(--space-50);
	padding: var(--space-50);
	border-radius: var(--space-25);
	min-height: var(--space-150);
	font-weight: 700;
	cursor: pointer;
}
.menu-section .menu .menu-button * {
	pointer-events: none;
}
.menu-section .menu .menu-button-large {
	position: relative;
	z-index: 1;
	min-height: calc(var(--space-100)*4);
}
.menu-section .menu .menu-button-bg {
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.7;
}
.menu-section .menu .menu-button-icon {
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: var(--space-50);
	left: var(--space-50);
}
.menu-section .menu .menu-button-label {
	display: inline-block;
	position: absolute;
	z-index: 2;
	left: var(--space-50);
	bottom: var(--space-50);
}

.menu-section .menu .menu-button .material-icons {
	display: inline-block;
	font-size: var(--h5) !important;
	line-height: var(--space-50) !important;
}

.menu-section .menu .menu-head {}
.menu-section .menu .menu-content {}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.menu-section .menu .menu-button {
		padding: var(--space-50) 0;
		text-align: center;
	}
	.menu-section .menu .menu-button-large {
		min-height: calc(var(--space-100)*1.5);
	}
	.menu-section .menu .menu-button-label {
		left: var(--space-150);
	}
}
@media( min-width: 1480px ) {}
