/*
 * Sample Section
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}





/*
 * Step Cards
 */

.step-cards {}
.step-cards .step-card-grid {
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-gap: var(--space-50);
}
.step-cards .step-break {
	grid-column: span 1;
}
.step-cards .card {
	padding: var(--space-75);
	border-radius: var(--space-75);
	/*margin-bottom: var(--space-75);*/
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}
.step-cards .card .card-head {
	display: block;
	cursor: pointer;
}
.step-cards .card .card-head * {
	pointer-events: none;
}
.step-cards .card .index {
	display: inline-block;
	text-align: center;
	width: var(--space-100);
	height: var(--space-100);
	line-height: var(--space-100);
	border-radius:  var(--space-25);
	box-shadow: inset 0 0 0 calc(var(--space-25)/3) var(--yellow-2);
	transform-origin: left center;
	transform: scale(0.85);
}

/* -- exception -- */
.release-gold-section .step-cards .card .index {
	box-shadow: inset 0 0 0 calc(var(--space-25)/3) var(--blue-3);
}
/* -- END:  exception -- */

.step-cards .card .card-head > .title {
	line-height: 1;
}
.step-cards .card .toggle .arrow {
	display: block;
	width: var(--space-100);
	height: var(--space-100);
	position: relative;
}
.step-cards .card .toggle .arrow .a1,
.step-cards .card .toggle .arrow .a2 {
	position: absolute;
	display: block;
	width: 65%;
	height: calc(var(--space-25)/4);
	background-color: var(--yellow-2);
	border-radius: calc(var(--space-25)/4);
	border: solid calc(var(--space-25)/4) var(--yellow-2);
	top: 50%;
	transition: .3s ease-out;
}

/* -- exception -- */
.release-gold-section .step-cards .card .toggle .arrow .a1,
.release-gold-section .step-cards .card .toggle .arrow .a2 {
	background-color: var(--blue-3);
	border: solid calc(var(--space-25)/4) var(--blue-3);
}
/* -- END:  exception -- */

.step-cards .card .toggle .arrow .a1 {
	right: 47%;
	transform-origin: right center;
	transform: translateY(-50%) rotate(30deg);
}
.step-cards .card .toggle .arrow .a2 {
	left: 47%;
	transform-origin: left center;
	transform: translateY(-50%) rotate(-30deg);
}
.step-cards .card .toggle > input:checked + .arrow .a1 {
	transform: translateY(-50%) rotate(-30deg);
}
.step-cards .card .toggle > input:checked + .arrow .a2 {
	transform: translateY(-50%) rotate(30deg);
}
.step-cards .card .card-content .checkmark {
	display: inline-block;
	text-align: center;
	width: var(--space-100);
	height: var(--space-100);
	line-height: var(--space-100);
	border-radius:  var(--space-25);
	transform-origin: left top;
	transform: scale(0.85);
}

@media( min-width: 640px )  {
	.step-cards .step-card-grid {
		grid-template-columns: 1fr 1fr;
	}
	.step-cards .step-break {
		grid-column: span 2;
	}
}
@media( min-width: 1040px ) {
	.step-cards .step-card-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.step-cards .step-break {
		grid-column: span 3;
	}
}
@media( min-width: 1480px ) {}