/*
 * Post Page
 */


@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}


.post-content {
	position: relative;
	color: var(--dark);
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.375;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4 {
	line-height: 1;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content p {
	display: block;
	padding-bottom: var(--space-75);
}

.post-content h1 { font-size: 3.6rem; }
.post-content h2 { font-size: 3.0rem; }
.post-content h3 { font-size: 2.4rem; }
.post-content h4 { font-size: 2.0rem; }
.post-content h5 { font-size: 1.8rem; }
.post-content h6 { font-size: 1.4rem; }
.post-content p 	{ font-size: 1.4rem; }
.post-content small { font-size: 0.8rem; }
.post-content label { font-size: 1.0rem; }

.post-content blockquote {
	display: block;
	margin: 0;
	background-color: var(--neutral-1);
	padding: var(--space-75);
	padding-bottom: 0;
	margin-bottom: var(--space-75);
}

.post-content .wp-block-image {
	padding-bottom: var(--space-75);
}

.post-content .wp-block-image {
	margin: 0;
}
.post-content .wp-block-image { margin: 0; }
.post-content .wp-block-image img {
	width: 100%;
}

.post-content .wp-block-image.alignfull {
	width: 100vw;
	margin-left: calc( ((100vw - var(--container-width))/2) * -1 );
}
.post-content .wp-block-image.alignfull img { max-width: none; }

.post-content .wp-block-image.alignwide {
	width: var(--container-width);
}
.post-content .wp-block-image.alignwide img { max-width: none; }

@media( min-width: 640px )  {
	.post-content h1 { font-size: 4.2em; }
	.post-content h2 { font-size: 3.4rem; }
	.post-content h3 { font-size: 2.8rem; }
	.post-content h4 { font-size: 2.2rem; }
	.post-content h5 { font-size: 1.8rem; }
	.post-content h6 { font-size: 1.4rem; }
	.post-content p 	{ font-size: 1.4rem; }
	.post-content small { font-size: 0.8rem; }
	.post-content label { font-size: 1.0rem; }
}

@media( min-width: 1040px ) {
	.post-content h1 { font-size: 8.0rem; }
	.post-content h2 { font-size: 5.6rem; }
	.post-content h3 { font-size: 4.0rem; }
	.post-content h4 { font-size: 2.8rem; }
	.post-content h5 { font-size: 2.0rem; }
	.post-content h6 { font-size: 1.4rem; }
	.post-content p 	{ font-size: 1.4rem; }
	.post-content small { font-size: 0.8rem; }
	.post-content label { font-size: 1.0rem; }

	.post-content blockquote {
		width: 75%;
	}
}

@media( min-width: 1480px ) {
	.post-content h1 { font-size: 9.6rem; }
	.post-content h2 { font-size: 6.8rem;  }
	.post-content h3 { font-size: 4.8rem;  }
	.post-content h4 { font-size: 3.2rem;  }
	.post-content h5 { font-size: 2.4rem;  }
	.post-content h6 { font-size: 1.7rem;  }
	.post-content p 	{ font-size: 1.7rem;  }
	.post-content small { font-size: 1.2rem; }
	.post-content label { font-size: 1.4rem; }
}





/*
 * Interruption Form
 */

.post-content .form-section {
	margin-bottom: var(--space-75);
}
.post-content .form-section .forms-container {
	position: relative;
	min-height: var(--otp-form-height,auto);
}
.post-content .form-section .primary-form {
	max-height: var(--content-height,none);
	overflow: hidden;
	transition:
		max-height 0.25s ease-out,
		opacity 0.25s ease-out
	;
	transition-delay: 0s, 0.15s;
}
.post-content .form-section .otp-form {
	position: absolute;
	top: 0;
	opacity: 0;
	transition: opacity 0.25s ease-out;
	transition-delay: 0s;
	pointer-events: none;
}

.post-content .form-section .forms-container.show-otp .primary-form {
	max-height: 0;
	opacity: 0;
	pointer-events: none;
	transition-delay: 0.15s, 0s;
}
.post-content .form-section .forms-container.show-otp .otp-form {
	opacity: 1;
	pointer-events: auto;
	transition-delay: 0.4s;
}
.post-content .form-section .form-feedback {
	opacity: 0;
	transition: opacity 0.25s 0.25s ease-out;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.post-content .form-section {
		width: 75%;
	}
}
@media( min-width: 1480px ) {}





/*
 * Associate Article Block
 */

/*.associate-article-block {
	width: 100vw;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-bottom: var(--space-25);
}*/



/*
 * Gallery
 */

.wp-block-gallery {
	margin: 0;
	width: 100%;
	/*margin-left: 50%;*/
	/*width: 100vw;*/
	/*transform: translateX(-50%);*/
	/*padding: 2px;*/
}
.wp-block-gallery .blocks-gallery-grid {
	list-style: none;
	display: block;
}
.wp-block-gallery .blocks-gallery-grid .blocks-gallery-item {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0;
	font-size: 0;
	vertical-align: top;
}
.wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure {
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0;
	padding: 2px;
}
.wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure img {
	display: inline-block;
	height: calc( var(--space-100) * 3 );
	width: auto;
	object-fit: contain;
}

.wp-block-gallery .blocks-gallery-caption {
	text-align: center;
	padding: 5px;
}

/* -- Slicks Resets -- */
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider {
	margin-bottom: 0;
}
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-dots {
	bottom: 5px;
	z-index: 4
}
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-dots li button:before {
	font-family: 'Barlow', Arial, sans-serif;
	font-weight: 700;
	content: '—';
	font-size: 20px;
	line-height: 10px;
	margin-top: 3px;
	color: var(--light);
}
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-dots li.slick-active button:before {
	color: var(--dark);
}
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-next,
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-prev {
	width: var(--space-75);
	height: var(--space-75);
	z-index: 4;
	background-color: var(--red-2);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-next:before,
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-prev:before {
	display: none;
}
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-next {
	right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-image: url('../../../media/icon/icon-right-arrow-box-red.svg');
	transform: translate(50%, -50%);
}
.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-prev {
	left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-image: url('../../../media/icon/icon-left-arrow-box-red.svg');
	transform: translate(-50%, -50%);
}
@media( min-width: 640px )  {
	.wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure img {
		height: calc( var(--space-100) * 6 );
	}
}
@media( min-width: 1040px ) {
	.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-dots {
		transform-origin: center bottom;
		transform: scale(1.2);
	}
	.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-next,
	.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-prev {
		width: var(--space-50);
		height: var(--space-50);
	}

	.wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure img {
		height: calc( var(--space-100) * 5 );
	}
}
@media( min-width: 1480px ) {
	.post-content .wp-block-gallery .blocks-gallery-grid.slick-slider .slick-dots {
		transform: scale(1.4);
	}
	.wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure img {
		height: calc( var(--space-100) * 4 );
	}
}
/* -- END: Slicks Resets -- */


/* -- FAQs Page Overwrites -- */
@media( min-width: 1040px ) {
	.post-content .wp-block-gallery {
		width: var(--container-width);
	}

	.faq-content .post-content .wp-block-gallery {
		width: calc( var(--space-100) * 8 );
	}

	.faq-content .post-content .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item figure img {
		height: calc( var(--space-100) * 4 );
	}

	.faq-content .post-content .wp-block-image.alignfull {
		width: calc( ((100vw - var(--container-width)) /2 ) + (var(--space-100) * 8) );
		margin-left: 0;
	}

	.faq-content .post-content .wp-block-image.alignwide {
		width: calc( var(--space-100) * 8 );
	}
}
